.com_title {
  background-color: $second-color;
  color: white;
  margin-top: 50px;
}
.com-1 {
  padding: 10px 20px 10px 30px;
}

.vector {
  height: 30px;
  margin-top: 8px;
}

.com_sec {
  margin-top: 0;
  background-color: $fourth-color;
}

.com_text {
  padding: 50px;
  margin: 0 30px 0 30px;
}

.com_pics {
  width: 100%;
}

.pics {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
}

@media screen and (min-width: 780px) {
  .com-1 {
    letter-spacing: 7px;
  }
  .com-2 {
    display: block !important;
  }
  .com_text {
    text-align: center;
  }

  .com_sec {
    width: 30%;
    height: 276px;
  }
  .pics {
    flex-flow: unset;
  }

  .com_text {
    font-size: 28px;
    padding: 40px 40px 10px 40px;
  }
}
