$main-color: #2c4053;
$second-color: #80dadf;
$third-color: #b36d2a;
$fourth-color: #ffdb01;

$main-font-size: 16px;
$main-font-family: "Libre Baskerville, serif";
$second-font-family: "Montserrat", sans-serif;
$third-font-family: "Lato", sans-serif;
